<ion-tabs>
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="contacts">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>home</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="details">
      <ion-icon name="list"></ion-icon>
      <ion-label>Details</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shameer" >
      <ion-icon name="map"></ion-icon>
      <ion-label>Shameer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="akif">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Akif</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>